/** GLOBALS **/

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Geneva, Tahoma, sans-serif;
    font-weight: 200;
    background: #e8e8e861;
}

.section-heading {
    padding: 1rem;
    background: #ccc;
}

.highlight {
    color: #a31618
}


/** HEADER **/

.header {
    padding: 2rem;
    text-align: center;
    background-color: #efefef;
    border-bottom: 9px solid #850f11;
}

.header:hover .highlight-onhover {
    color: #a31618;
    text-shadow: 0px 0px 3px rgb(247, 150, 150);
    transition: 0.2s ease-in-out;
}

.header__heading {
    padding: 2rem;
    display: inline-block;
    color: #404041;
}

.header__img-container {
    float: right;
    display: block;
}

.header__logo {
    width: 200px;
    padding: 1rem;
}

@media (max-width: 1120px) {
    .header__img-container {
        float: unset;
    }
}


/** NAVBAR **/

.navbar {
    clear: both;
    background: #404041;
}

.list__inline {
    list-style-type: none;
    overflow: hidden;
}

.list__inline li {
    float: left;
}

.list__inline li a {
    text-decoration: none;
    display: block;
    color: white;
    padding: 32px;
}


/* Content Wrapper */

.content-wrapper {
    padding: 2rem;
}

.content-wrapper__table {
    width: 100%;
    overflow: hidden;
    table-layout: fixed;
}

.content-wrapper__table td {
    overflow: hidden;
    text-align: center;
    vertical-align: sub;
}

.content-wrapper__table img {
    width: 100%;
    display: block;
}

.content-wrapper__table .image-full {
    margin: -21.875% 0;
}

.content-wrapper__table .overlay {
    background: #8a8a8ab3;
    position: relative;
    outline-style: groove;
    font-size: x-large;
    padding: 0 1rem;
}

.content-wrapper__table td:hover a {
    color: #a31618;
    text-shadow: 0px 0px 3px rgba(247, 150, 150, 0.604);
    transition: 0.2s ease-in-out;
}

.content-wrapper__table a {
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 1px black;
}


/* Footer */

.footer {
    background-color: #efefef;
    padding: 1rem;
    text-align: center;
    font-weight: bold;
    margin: 1rem 0 0;
    border-top: 4px solid #8b1215;
}