/** GLOBALS **/

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Geneva, Tahoma, sans-serif;
    font-weight: 200;
}


/** HEADER **/

.header {
    display: inline-table;
    background: #ccc;
    box-shadow: 0px 2px 5px #888;
}

.header__col-left,
.header__col-right {
    display: table-cell;
    position: relative;
    padding: 1rem;
}

.header__col-left {
    width: 70%;
}

.header__heading {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    padding: 1rem;
}


/** NAVBAR **/

.navbar {
    background: #aaa;
    height: 200px;
    clear: both;
}


/* Content Wrapper */

.content-wrapper {}


/* Footer Wrapper */

.footer-wrapper {}