body {
    font-family: 'Open Sans', sans-serif;
}

.centered {
    text-align: center;
}

.img-size {
    width: 20vw;
}

.logo-size {
    width: 8.5vw;
}

.navbar {
    background: rgb(181, 154, 119);
}

.list-type ul {
    list-style-type: none;
}

.navbar li {
    display: inline;
    float: right;
    margin: 0 4vw;
}

.nav {
    display: block;
}

p {
    padding-top: 200px;
}

.logo-right {
    float: right;
}

.header-size h1 {
    padding-top: 3rem;
}

.title-size {
    padding-top: 15rem;
}